# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/
.idea/

# Cache de testes
.pytest_cache/

# Logs
*.log

# Variáveis de ambiente
.env

# Sistema
.DS_Store
Thumbs.db
